{{- define "meepo_earth/module/_include/catalogue" -}}
{{/* 目录 */}}
    <div class="toc-container sticky top-20 z-[5] w-full cursor-pointer rounded-xl bg-white p-3 shadow transition-all duration-500 hover:shadow-md dark:bg-slate-800">
        <h2 class="inline-flex items-center gap-2 text-base dark:text-slate-50">
            <span class="i-tabler-list text-lg"></span>
            目录
        </h2>
        <div class="toc mt-2 max-h-64 overflow-auto"></div>
    </div>
{{- end -}}